@model IEnumerable<Holiday.Models.Vacantion>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VacantionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VacantionDays)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VacantionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VacantionDays)
            </td>

            @if (Int32.Parse(item.VacantionId) != 1 && Int32.Parse(item.VacantionId) != 2)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VacantionId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.VacantionId">Delete</a>|
                    @*<a asp-action="Details" asp-route-id="@item.VacantionId">Details</a> |*@
                    @*<a asp-action="Delete" asp-route-id="@item.VacantionId">Delete</a>*@
                </td>
            }
            <td>
            <a asp-action="Details" asp-route-id="@item.VacantionId">Details</a> 
            </td>

        </tr>
}
    </tbody>
</table>
