@model Holiday.Models.VacantionRequest

@{
    ViewData["Title"] = "Delete";
}
<style>
    body {
         background-color:darkgrey;
        margin: 0;
    }
</style>


<h3>Are you sure you want to cancel this request?</h3>
<div>
    <h4>VacantionRequest</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfDays)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoOfDays)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cause)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cause)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="VacantionRequestId" />
        <input type="submit" value="Cancel request" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
