@model IEnumerable<Holiday.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Employees</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HolidayType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfDaysConsumed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfDaysLeft)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HolidayType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfDaysConsumed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfDaysLeft)
            </td>

        </tr>
        }
    </tbody>
</table>
